$hero-header-bg-color: #111111;
$title-color: #ffb400;
$element-bg-color: #d39612;
$white: #fff;
$nav-bg-color: #262c2a;
$hero-header-light-mode-bg-color: #ffffff;
$text-color-light-mode: #455a64;
$orange-light-mode: #ff7043;
$test: #37474f;
