@mixin icon-style {
   color: $white;
   font-size: 1.96rem;
   background-color: transparent;
   border-radius: 50%;
   cursor: pointer;
   border: none;
   @include flex-handler(center, center);
}

@mixin flex-handler($justify, $align) {
   display: flex;
   justify-content: $justify;
   align-items: $align;
}
